APP_NAME=TerminRadar
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_KEY=

DB_CONNECTION=sqlite
DB_DATABASE=storage/terminradar.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE_MYSQL=terminradar
DB_USERNAME=
DB_PASSWORD=

MAIL_FROM_ADDRESS=no-reply@example.de
MAIL_FROM_NAME=TerminRadar
TELEGRAM_BOT_TOKEN=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

ADMIN_NAME=TerminRadar Admin
ADMIN_EMAIL=admin@example.de
ADMIN_PASSWORD=ChangeMeImmediately123!
